.userphoto {
    box-shadow: 5px 5px 25px 10px rgba(0,0,0,0.30);
    min-width: 250px;
    cursor: pointer;
}

.animated {
    animation: fadeIn 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.hidden {
    display: none;
}