@import "sass/variables.scss";
@import "~bulma/bulma.sass";


html {
  font-family: sans-serif;
  text-align: center;
}
    
    h1,
    h2 {
      font-size: 20px;
      position: relative;
      color: $info;
    }
    
  .white{
    color: white;
  }

  .shadow{
    text-shadow: 2px 2px 4px #000000;
  }